<% if @user.errors.any? %>
  <ul>
  <% @user.errors.each do |error| %>
    <li><%= error.full_message  %></li>
  <% end %>
  </ul>
<% end %>

<div class="card mt-3 w-50 mx-auto">
  <div class="card-body">
    <%= form_with model: @user, local: true  do |form| %>
      <div class='mb-3'>
        <%= form.label :name, '名前', class: 'd-block' %>
        <%= form.text_field :name, class: "w-100" %>
      </div>
      <div class='mb-3'>
        <%= form.label :login_id, 'ログインID', class: 'd-block' %>
        <%= form.text_field :login_id, class: "w-100" %>
      </div>
      <div class='mb-3'>
        <%= form.label :password, 'パスワード', class: 'd-block' %>
        <%= form.password_field :password, class: "w-100" %>
      </div>
      <div class='mb-3'>
        <%= form.label :password_confirmation, 'パスワード(確認)', class: 'd-block' %>
        <%= form.password_field :password_confirmation, class: "w-100" %>
      </div>
      <div class='mb-3 text-end'>
        <%= form.submit class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
