<div class="card mt-3 w-50 mx-auto">
  <div class="card-body">
    <%= form_with model: @user, url: signup_path, local: true  do |form| %>
      <div class='mb-3'>
        <%= form.text_field :name, class: "w-100", placeholder: "名前" %>
      </div>
      <div class='mb-3'>
        <%= form.text_field :login_id, class: "w-100", placeholder: "ログインID" %>
      </div>
      <div class='mb-3'>
        <%= form.password_field :password, class: "w-100", placeholder: "パスワード" %>
      </div>
      <div class='mb-3'>
        <%= form.password_field :password_confirmation, class: "w-100", placeholder: "パスワード(確認)" %>
      </div>
      <div class='mb-3 text-end'>
        <%= form.submit class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
