<%= form_with scope: :session, url: sessions_path, local: true  do |form| %>
  <div class='mb-3'>
    <%= form.label :login_id, 'ログインID', class: 'd-block' %>
    <%= form.text_field :login_id %>
  </div>
  <div class='mb-3'>
    <%= form.label :password, 'パスワード', class: 'd-block' %>
    <%= form.password_field :password %>
  </div>
  <div class='mb-3'>
    <%= form.submit "ログイン", class: 'btn btn-primary' %>
  </div>
  <%= link_to "新規登録", new_user_path %>
<% end %>