<div class="card mt-3 w-50 mx-auto">
  <div class="card-body">
    <%= form_with scope: :session, url: login_path, local: true  do |form| %>
      <div class='mb-3'>
        <% if @login_error.nil? && @login_id.present? && flash.blank? || @login_error.nil? && @login_id.nil? && flash.blank? %>
          <%= form.text_field :login_id, value: @login_id, placeholder: "ログインID", class: "w-100" %>
        <% elsif @login_error.present? || flash.present? %>
          <%= form.text_field :login_id, value: @login_id, placeholder: "ログインID", class: "border border-danger w-100" %>
          <p class="text-danger"><%= @login_error %></p>
        <% end %>
      </div>
      <div class='mb-3'>
        <% if @password_error.nil? && flash.blank? %>
          <%= form.password_field :password, placeholder: "パスワード", class: "w-100" %>
        <% else %>
          <%= form.password_field :password, placeholder: "パスワード", class: "border border-danger w-100" %>
          <p class="text-danger"><%= @password_error %></p>
        <% end %>
      </div>
      <div class='mb-3 text-end'>
        <%= form.submit "ログイン", class: 'btn btn-primary' %>
      </div>
    <% end %>

    <div class="text-end">
      <%= link_to "新規登録", signup_path %>
    </div>
  </div>
</div>
