<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render 'layouts/header' %>
      <%= yield %>
      <div class="mt-5 text-center small text-dark border-bottom border-dark bg-secondary sticky-bottom">
        vareal
        <% if logged_in? %>
        <div>
          <%= link_to "ログイン", new_session_path %>
        </div>
        <div>
          <%= link_to "新規登録", new_user_path %>
        </div>
        <% else %>
        <div>
          <%= link_to "ログアウト", session_path(current_user), method: :delete %>
        </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
