<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render 'layouts/header' %>
      <%= render 'layouts/flash_message' %>
      <%= yield %>
      <div class="mt-5 small text-dark border-bottom border-dark bg-secondary sticky-bottom d-flex justify-content-between aliegn-items-center">
        <div></div>
        <p>vareal</p>
        <% if logged_in? %>
        <div class="d-flex justify-content-end">
          <div>
            <%= link_to "ログイン", login_path, class: "btn btn-outline-success bg-white" %>
          </div>
          <div>
            <%= link_to "新規登録", signup_path, class: "btn btn-success" %>
          </div>
          <% else %>
          <div>
            <%= link_to "ログアウト", logout_path(current_user), method: :delete %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
