<% image_url = @post.picture.presence || '/no_image.jpeg' %>

<div class="card mt-3">
  <div class="row g-0">
    <div class="col-md-8" style="height: 550px;">
      <%= link_to image_url, "data-lightbox" => image_url do %>
        <%= image_tag image_url, class: 'w-100 border-end h-100'%>
      <% end %>
    </div>
    <div class="col-md-4 position-relative">
      <div class="card-body">
        <div class="d-flex align-items-start flex-column bd-highlight mb-3">
          <div class="p-2 bd-highlight"><h5 class="card-title"><%= @post.title %></h5></div>
          <div class="p-2 bd-highlight"><p class="card-text"><%= @post.content %></p></div>
          <div class="position-absolute bottom-0 end-0 p-2 bd-highlight"><p class="card-text "><small class="text-muted">最終更新: <%= @post.updated_at.strftime("%Y年%m月%d日 %H:%M") %></small></p></div>
        </div>
      </div>
    </div>
  </div>
</div>
